$primaryColor: #047aed;
$econdaryColor: #1c3fa8;
$darkColor: #002240;
$lightColor: #f4f4f4;
$uccessColor: #5cb85c;
$errorColor: #d9534f;

//Animations
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  